<a href="https://colab.research.google.com/github/iiitbh18/Binary-search/blob/main/Time_Series_forcasting_MA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from statsmodels.tsa.arima_model import ARMA

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/a10.csv', parse_dates=['date'])
df.head()

train_data = df[1:len(df)-12]
test_data = df[len(df)-12:]

model = ARMA(train_data.value, order=(0, 1)).fit()

predictions = model.predict(start=len(train_data), end=len(train_data) + len(test_data)-1)
print(predictions)

192    11.938395
193     9.944262
194     9.944262
195     9.944262
196     9.944262
197     9.944262
198     9.944262
199     9.944262
200     9.944262
201     9.944262
202     9.944262
203     9.944262
dtype: float64